@cp-grey: #2c333c;
@cp-accent: #67ddab;
@cp-white: #eeeeee;
@color: #111;
@padd-s: 2rem;
* {
  transition: color 500ms, background-color 500ms;
}
.bg-image {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
* {
  color: @color;
  text-decoration: none;
  margin: 0;
  padding: 0;
  text-align: center;
  box-sizing: border-box;
  font-family: "Source Sans Pro", sans-serif;
  line-height: 1.5em;
  font-size: 1rem;
}
body {
  min-height: 100vh;
}
img {
  max-width: 100%;
}
ul {
  list-style: none;
  padding: 0;
}
button {
  cursor: pointer;
  background-color: transparent;
  border: none;
}
button:focus,
button:active,
input:focus,
input:active {
  outline: none;
}
input[type="radio"] {
  cursor: pointer;
}
.button {
  cursor: pointer;
}
a {
  display: inline-block;
}
.inner-wide {
  max-width: 1400px;
  margin-right: auto;
  margin-left: auto;
  width: 90%;
}
.inner {
  width: 75%;
  margin-right: auto;
  margin-left: auto;
  max-width: 1100px;
}
section {
  margin-bottom: 5vw;
}
section.intro {
  margin-top: 3vw;
  max-width: 800px;
}
/*=============================
    TYPOGRAPHY
==============================*/
h1 {
  text-align: center;
  font-size: 2rem;
  padding: 2rem;
  background-color: @cp-grey;
  font-weight: 600;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 0.05em;
}
h2 {
  font-size: 2rem;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  margin-bottom: 2rem;
}
section.intro p {
  font-size: 1.1rem;
}
/*=============================
    MODAL
  ==============================*/
.full-modal {
  min-height: 100vh;
  min-width: 100vw;
  z-index: 99;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
}
.full-modal .overlay {
  height: 100%;
  width: 100%;
  background-color: #000c;
  position: absolute;
}
.full-modal .container {
  position: relative;
}
.full-modal .close {
  position: absolute;
  top: 5%;
  right: 5%;
}
.full-modal .close i {
  font-size: 2rem;
  color: #fff;
}
.full-modal .close:hover i {
  color: @cp-accent;
}
/*=============================
    HEADER
  ==============================*/
@header: 70px;
header {
  position: fixed;
  width: 100%;
  background-color: #ffffffeb;
  z-index: 10001;
  box-shadow: 0px 0px 5px #666;
}
header .fa-leaf {
  color: @cp-accent;
  transform: rotate(-90deg);
  font-size: 2rem;
  margin-right: -0.5em;
}
.logo {
  display: flex;
  align-items: center;
}
.logo span {
  font-family: "Satisfy", cursive;
  font-size: 1.5rem;
  text-align: left;
  font-style: italic;
  font-weight: bold;
  line-height: 1;
  display: block;
  z-index: 10;
}

.logo span:first-child {
  margin-left: -0.3rem;
}
header .inner-wide {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: @header;
}
header ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header nav a {
  padding: 0.5em 0 0.5em 1em;
  color: @color;
  opacity: 0.6;
}
header nav a:hover {
  opacity: 1;
}
/*=============================
    FOOTER
  ==============================*/
footer {
  background-color: @cp-grey;
  padding: @padd-s;
  margin-top: 5%;
}
footer * {
  color: #fff;
  margin: auto;
}
footer .social {
  display: flex;
  justify-content: center;
}
footer .social a {
  width: 2rem;
  height: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid white;
  margin: 1rem 0.5em;
}
footer .social a:hover {
  background-color: #fff;
}
footer .social a:hover i {
  color: @cp-grey;
}
/*=============================
    BANNER
  ==============================*/
.banner {
  height: 100vh;
  position: relative;
  min-height: 600px;
  margin-top: 0;
  margin-bottom: 0;
}
.banner-carousel-container {
  height: 100%;
  overflow: hidden;
}
.banner img {
  width: 100%;
}
.banner-text {
  padding-top: calc(@header - 3rem);
  position: absolute;
  width: 100%;
  bottom: 0;
}
.banner-text a {
  background-color: @cp-grey;
  display: inline-block;
  height: 3rem;
  width: 2.5rem;
  padding-top: 0.5rem;
}
.banner-text i {
  font-size: 1.3rem;
  color: #fff;
}
.banner-text a:hover i {
  color: @cp-accent;
}
/*=============================
    HOME
  ==============================*/
#home-page section.intro {
  max-width: 1400px;
}
#home-page-blocks > div {
  width: 30%;
  height: 25vw;
  max-height: 450px;
  margin-right: 5%;
  display: inline-block;
  overflow: hidden;
  position: relative;
}
#home-page-blocks > div:last-child {
  margin-right: 0;
}
#home-page-blocks .background-image {
  .bg-image;
  position: relative;
  height: 100%;
  width: 100%;
  transition: 1s;
}
#home-page-blocks .background-image:hover {
  transform: scale(1.2);
}
#home-page-blocks .title {
  background-color: #ffffffeb;
  position: absolute;
  bottom: 5%;
  width: 70%;
  left: 15%;
  padding: 0.75rem;
}
// #home-page-blocks a {
//   font-style: italic;
//   font-size: 1.5rem;
//   font-weight: bold;
// }
// i.fa-angle-double-right {
//   color: @cp-accent;
//   margin-right: 0.2em;
// }
#home-page-blocks a {
  font-weight: bold;
  font-size: 1.25rem;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}
#home-page-blocks a:hover {
  color: @cp-accent;
}
/*=============================
    FLOOR PLANS
==============================*/
#floor-plans-blocks {
  display: flex;
  justify-content: space-between;
}
#floor-plans-blocks > :first-child {
  width: 30%;
}
#floor-plans-blocks > :last-child {
  width: 60%;
}
#floor-plans-blocks .img-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 60%;
  margin: 0 auto 2.5vw;
}
#floor-plans-blocks img {
  cursor: pointer;
}
#floor-plans-blocks > :last-child img {
  width: 50%;
}
#floor-plans-blocks .details {
  margin-bottom: 1.5em;
}
#floor-plans-blocks .details span {
  padding: 0 1.5em;
  border-left: 2px solid @cp-accent;
  font-weight: bold;
  font-size: 0.875rem;
}
#floor-plans-blocks .details span:last-child {
  border-right: 2px solid @cp-accent;
}
.button {
  border: 2px solid @cp-accent;
  font-weight: bold;
  letter-spacing: 0.2em;
  font-size: 0.875rem;
  padding: 0.7em 2em;
  color: #fff;
  background: @cp-accent;
  text-transform: uppercase;
  text-align: center !important;
}
.button:hover {
  color: @cp-accent;
  background: #fff;
}
/*=============================
    AMENITIES
==============================*/
#amenities-page section.carousel {
  margin-bottom: 5vw;
}
.amenities-list li {
  margin-bottom: 0.5em;
  font-size: 1.25em;
  font-style: italic;
}
.react-multi-carousel-list .react-multiple-carousel__arrow {
  border-radius: 0;
}

/*=============================
    GALLERY
  ==============================*/
.grid-container {
  display: flex;
  flex-flow: column wrap;
  align-content: space-between;
  height: 1800px;
}
.grid-container div {
  width: 25%;
}
.grid-container div {
  position: relative;
}
.grid-container button {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.light-box {
  position: fixed;
  top: 0;
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}
.light-box .overlay {
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: #000c;
  z-index: 50;
}
.light-box * {
  z-index: 90;
}
.light-box button {
  width: 2rem;
  height: 2rem;
  background-color: @cp-accent;
  text-align: center;
  font-weight: bold;
}
.light-box button * {
  vertical-align: middle;
  line-height: 2rem;
}
.light-box img {
  max-height: 80%;
  max-width: 60%;
}
/*=============================
    NEIGHBORHOOD
  ==============================*/
#neighborhood-page .tabs {
  display: flex;
  justify-content: space-between;
}
#neighborhood-page .tabs button {
  padding: 0.5em;
}
#neighborhood-page .tabs button span {
  font-style: italic;
  font-weight: bold;
  font-size: 1.1rem;
}
#neighborhood-page .tabs button i {
  color: transparent;
  transition: 500ms;
}
#neighborhood-page .tabs button:hover * {
  color: @cp-accent;
}
.map-container {
  overflow: hidden;
}
.map-container > * {
  margin-top: -60px;
}
.map-carousel .react-multi-carousel-track {
  margin-bottom: 50px;
}
.map-carousel li.react-multi-carousel-item {
  border-right: 2px solid @cp-accent;
}
.map-carousel li.react-multi-carousel-item div {
  padding: 0 3%;
}
.map-carousel li.react-multi-carousel-item p:first-of-type {
  font-weight: bold;
  margin-bottom: 1em;
  text-transform: uppercase;
}
.map-carousel li.react-multi-carousel-item span {
  margin: 2em 0.5em 0;
}
.map-carousel li.react-multi-carousel-item i {
  color: @cp-accent;
}
/*=============================
    SCHEDULE A TOUR
  ==============================*/
#tour-form form {
  display: flex;
  flex-direction: column;
  display: flex;
  flex-direction: column;
  max-width: 600px;
  margin: auto;
}
#tour-form * {
  text-align: left;
}
#tour-form .button {
  margin: auto;
}
fieldset {
  border: none;
  margin-bottom: 1em;
}
input {
  border: 2px solid #eee;
  background-color: #eee;
  padding: 0.25em 0.5em;
  margin-bottom: 1em;
}
input:focus {
  border: 2px solid @cp-grey;
}
input[type="checkbox"],
input[type="radio"] {
  margin-right: 0.5em;
  vertical-align: middle;
  margin-bottom: 0;
}
fieldset.two-columns div {
  width: 50%;
  display: inline-block;
}
.survey {
  border: 1px solid #eee;
  padding: 0 5%;
  margin-bottom: 5%;
  margin-top: calc(5% - 1em);
}
.survey > p {
  font-weight: bold;
  line-height: 1;
  margin-top: 3%;
  margin-bottom: 5%;
}
.survey > p span {
  color: @cp-accent;
  text-decoration: underline;
}
label.required::after {
  content: " *";
  color: red;
}
/*=============================
    RESPONSIVE DESIGN
==============================*/
@media only screen and (max-width: 1443px) {
  .grid-container {
    height: 1400px;
  }
}
@media only screen and (max-width: 1329px) {
  .grid-container {
    height: 1500px;
  }
}
@media only screen and (max-width: 922px) {
  .grid-container {
    height: 960px;
  }
}
