@cp-grey: #242f38;
@cp-accent: #10c778;
@cp-white: white;
@color: #111;
@thin-border: 1px solid #eee;
.all-caps {
  font-family: "Source Sans Pro", sans-serif;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 0.1em;
}
.bg-img {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.bg-grey {
  background-color: #eee;
  padding-top: 5%;
  padding-bottom: 5%;
}
* {
  margin: 0;
  padding: 0;
}
div * {
  transition: color 500ms, background-color 500ms;
  color: @color;
  text-decoration: none;
  text-align: center;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
  line-height: 1.5em;
  font-size: 1rem;
}
body {
  min-height: 100vh;
}
img {
  max-width: 100%;
  height: auto;
}
ul {
  list-style: none;
  padding: 0;
}
button {
  cursor: pointer;
  background-color: transparent;
  border: none;
}
button:focus,
button:active,
input:focus,
input:active,
textarea:focus,
textarea:active {
  outline: none;
}
input[type="radio"] {
  cursor: pointer;
}
.button {
  cursor: pointer;
}
span.hide {
  display: inline-block;
  height: 1px;
  width: 1px;
  overflow: hidden;
  color: transparent;
  margin: 0 !important;
}
a {
  display: inline-block;
}
.inner-wide {
  max-width: 1400px;
  margin-right: auto;
  margin-left: auto;
  width: 90%;
}
.inner {
  width: 60%;
  margin-right: auto;
  margin-left: auto;
  max-width: 1000px;
}
section {
  margin-bottom: 5vw;
}
section.intro {
  margin-top: 3vw;
  max-width: 800px;
}
main {
  min-height: 70vh;
}
.small-show {
  display: none;
}
/*=============================
    TYPOGRAPHY
==============================*/
h1 {
  text-align: center;
  font-size: 2rem;
  .all-caps;
}
#floor-plans-page h2 {
  font-size: 2rem;
  .all-caps;
  margin-bottom: 2rem;
}
p {
  margin-bottom: 1rem;
}
section.intro p {
  font-size: 1.1rem;
  color: #666;
}

/*=============================
    HEADER
  ==============================*/
.medium-show {
  display: none;
}
header {
  position: fixed;
  width: 100%;
  background-color: #ffffffc7;
  z-index: 1001;
  top: 0;
}
.logo span {
  color: @cp-grey;
  font-size: 1.5rem;
  text-align: left;
  font-weight: bold;
  line-height: 1;
  display: block;
  z-index: 10;
}
header .inner-wide {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
}
header .desktop-menu ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header nav a {
  padding: 1em;
  color: #5c6b7f;
  .all-caps;
  font-size: 0.8rem;
}
header .desktop-menu li:last-of-type a {
  padding-right: 0;
}
header nav a:hover {
  color: #111;
}
/*=============================
    HEADER MOBILE
  ==============================*/
header .open-menu {
  display: none;
  width: 44px;
  height: 44px;
}
header .mobile-menu {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #fffffff5;
  z-index: 100;
  display: flex;
  justify-content: center;
  align-items: center;
}
header .mobile-menu nav a {
  font-size: 1.25rem;
}
header .open-menu i {
  font-size: 1.25rem;
}
header .mobile-menu .close {
  font-size: 2.5rem;
  width: 44px;
  height: 44px;
  right: 5%;
  position: absolute;
  top: 2%;
}
/*=============================
    FOOTER
  ==============================*/
footer {
  background-color: @cp-grey;
  padding: 7% 2% 2%;
  margin-top: 10%;
}
footer * {
  color: #fff;
  font-weight: bold;
}
footer p:first-of-type {
  font-size: 1.5rem;
}
footer p span {
  font-size: 1.1em;
  color: @cp-accent;
  margin-left: 2px;
  margin-right: 2px;
  font-weight: normal;
}
footer .social {
  display: flex;
  justify-content: center;
}
footer .social a {
  width: 2.5rem;
  height: 2.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid @cp-accent;
  margin: 1rem 0.75em;
}
footer .social i {
  font-size: 1.1rem;
}
footer .social a:hover {
  background-color: @cp-accent;
}
/*=============================
    BANNER
  ==============================*/
.banner {
  margin-top: 0;
  margin-bottom: 0;
  display: flex;
  flex-direction: column;
}
.banner-carousel-container {
  overflow: hidden;
  height: 85vh;
  min-height: 550px;
}
.banner img {
  width: 100%;
  display: block;
}
.banner-text {
  height: 15vh;
  min-height: 80px;
  position: relative;
}
.banner-text h1 {
  background-color: @cp-grey;
  font-size: 2.25rem;
  line-height: 1;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: @cp-white;
  letter-spacing: 0.1em;
}
.banner-text a {
  background-color: @cp-grey;
  // display: inline-block;
  position: absolute;
  top: -2.5rem;
  height: 2.5rem;
  width: 3rem;
  font-size: 1.3rem;
  color: @cp-white;
  transform: rotate(90deg);
  left: calc(50% - 1.5rem);
}
.banner-text a::before {
  content: "\e825";
  font-family: revicons;
  line-height: 2.5rem;
}
.banner-text a:hover {
  color: @cp-accent;
}
/*=============================
    HOME
  ==============================*/
#home-page .intro a {
  margin-top: 1rem;
}
#home-page-blocks div.background-image {
  width: 32%;
  height: 30vw;
  max-height: 480px;
  margin-right: 2%;
  display: inline-block;
  overflow: hidden;
  position: relative;
  .bg-img;
}
#home-page-blocks div.background-image:last-child {
  margin-right: 0;
}
#home-page-blocks .title {
  border: 1px solid #ffffffeb;
  background-color: #ffffffeb;
  position: absolute;
  bottom: 5%;
  width: 70%;
  left: 15%;
  padding: 5% 0;
  font-size: 1.25rem;
  .all-caps;
}
#home-page-blocks .title:hover {
  color: @cp-accent;
  background-color: transparent;
}
/*=============================
    FLOOR PLANS
==============================*/
#floor-plans-blocks {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
#floor-plans-blocks .container {
  width: 45%;
  border: @thin-border;
  padding: 5% 0;
}
#floor-plans-blocks .container > div {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10% auto;
}
#floor-plans-blocks .container div div {
  width: 40%;
  cursor: pointer;
}

#floor-plans-blocks .details {
  margin-bottom: 1.5em;
}
#floor-plans-blocks .details span {
  padding: 0 1.5em;
  border-left: 2px solid @cp-accent;
  font-weight: bold;
  font-size: 0.875rem;
}
#floor-plans-blocks .details span:last-child {
  border-right: 2px solid @cp-accent;
}
.button {
  border: 1px solid @cp-accent;
  font-size: 0.875rem;
  padding: 0.7em 2em;
  color: #fff;
  background: @cp-accent;
  .all-caps;
  text-align: center !important;
}
.button:hover {
  color: @cp-accent;
  background: #fff;
}
/*=============================
    AMENITIES
==============================*/
section.bg-grey.carousel {
  margin-bottom: 10vw;
  position: relative;
}
.bg-grey.carousel .react-multi-carousel-list {
  max-width: 800px;
  width: 70%;
  margin: auto;
}
.amenities-list {
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.amenities-list div {
  width: 31%;
}
.amenities-list .title {
  margin-bottom: 0.5em;
  color: @cp-accent;
  .all-caps;
}
.amenities-list .title + ul {
  height: 100%;
  border: @thin-border;
  padding: 5% 8%;
  margin: 0 auto 5%;
  max-width: 500px;
}
.amenities-list .title + ul li {
  text-align: left;
}
.amenities-list li span {
  color: @cp-accent;
  margin-right: 0.3rem;
  font-size: 1.1em;
}
.carousel .react-multi-carousel-dot-list {
  bottom: 4%;
}
.react-multi-carousel-dot-list .react-multi-carousel-dot button {
  border-color: @cp-grey;
  border-width: 1px;
  background-color: white;
  height: 0.8rem;
  width: 0.8rem;
}
.react-multi-carousel-dot-list .react-multi-carousel-dot:hover button,
.react-multi-carousel-dot-list .react-multi-carousel-dot--active button {
  background-color: @cp-grey;
}
.carousel .next,
.carousel .previous,
.map-carousel .react-multiple-carousel__arrow::before {
  padding: 0 0.5em;
  color: @cp-grey;
  font-size: 2.5em;
  font-family: revicons;
}
.carousel .next,
.carousel .previous {
  top: calc(50% - 1.25rem);
  line-height: 1;
  position: absolute;
}
.carousel .next {
  right: calc(50% - 500px);
}
.carousel .previous {
  left: calc(50% - 500px);
}
.carousel .next::before,
div.SRLNextButton::before {
  content: "\e825";
}
.carousel .previous::before,
div.SRLPrevButton::before {
  content: "\e824";
}
.carousel .previous:hover,
.carousel .next:hover,
.map-carousel
  .react-multiple-carousel__arrow:hover
  .react-multiple-carousel__arrow::before {
  color: @cp-accent;
}
.map-carousel .react-multiple-carousel__arrow,
.map-carousel .react-multiple-carousel__arrow:hover {
  background-color: transparent;
}
/*=============================
    GALLERY
  ==============================*/
.grid-container {
  display: flex;
  flex-flow: column wrap;
  align-content: space-between;
  height: 1800px;
}
.grid-container div {
  width: 25%;
}
.grid-container div {
  position: relative;
}
.grid-container button {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.gallery div {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.gallery div a {
  width: 24.8%;
  margin-bottom: 0.2%;
  display: block;
  background: black;
}
.gallery a:nth-of-type(n + 5) {
  width: 33.13%;
}
.gallery a:nth-of-type(n + 8) {
  width: 24.8%;
}
.gallery a:nth-of-type(n + 12) {
  width: 33.13%;
}
.gallery a:nth-of-type(n + 15) {
  width: 49.8%;
}
.gallery a:nth-of-type(n + 17) {
  width: 33.13%;
}
.gallery a:nth-of-type(n + 20) {
  width: 24.8%;
}
.gallery a:nth-of-type(n + 24) {
  width: 33.13%;
}
.gallery a:nth-of-type(n + 27) {
  width: 49.8%;
}
.gallery div a img {
  transition: 1s;
  display: block;
}
.gallery div a:hover img {
  opacity: 0.5;
}
.SRLCaptionContainer {
  position: absolute !important;
}
.SRLElementContainer {
  margin-top: 40px;
}
div.SRLNextButton::before,
div.SRLPrevButton::before {
  font-family: revicons;
  font-size: 3rem;
  color: white;
}
.css-181pq6b div svg,
.css-tuif7e div svg {
  display: none !important;
}
.css-181pq6b {
  left: 2% !important;
}
.css-tuif7e {
  right: 2% !important;
}
/*=============================
    NEIGHBORHOOD
  ==============================*/
#neighborhood-page .tabs {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0.5rem;
}
#neighborhood-page .tabs li {
  width: 16%;
  display: block;
}
#neighborhood-page .tabs button {
  padding: 0.5em;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
#neighborhood-page .tabs button span {
  .all-caps;
  display: inline-block;
  overflow: hidden;
}
#neighborhood-page .tabs button i {
  color: transparent;
  transition: 500ms;
}
#neighborhood-page .tabs button:hover *,
#neighborhood-page .tabs button.active * {
  color: @cp-accent;
}
.map-carousel .react-multi-carousel-track {
  margin-bottom: 50px;
}
.map-carousel li.react-multi-carousel-item div {
  padding: 3%;
  border: @thin-border;
  width: 85%;
  height: 100%;
  margin: auto;
}
.map-carousel li.react-multi-carousel-item .title a {
  .all-caps;
}
.map-carousel li.react-multi-carousel-item .title a:hover {
  color: @cp-accent;
}
.distance span {
  margin: 2em 0.5em 0;
}
.distance i {
  color: @cp-accent;
  margin-right: 0.3em;
}
.mapboxgl-map {
  max-height: 500px;
  min-height: 200px;
}
/*=============================
    MAP
  ==============================*/
button.marker {
  border: 2px solid @cp-accent;
  width: 2rem;
  height: 2rem;
  border-radius: 100%;
  background: white;
  border-radius: 50% 50% 50% 0;
  transform: rotate(-45deg);
}
button.marker i {
  transform: rotate(45deg);
  font-size: 0.9em;
}
button.marker + p {
  left: 50%;
  transform: translateX(-50%);
  line-height: 1;
  margin-top: 0.5em;
  font-size: 0.875rem;
  text-align: center;
  position: absolute;
  width: 200px;
  z-index: 0;
}
.mapboxgl-marker:hover {
  z-index: 10 !important;
}
button.marker:hover {
  background-color: @cp-accent;
}
.mapboxgl-popup {
  z-index: 30 !important;
}
.mapboxgl-popup-content {
  padding: 1.5rem 10px 0;
}
.mapboxgl-popup-content .close {
  position: absolute;
  top: 0;
  right: 0;
  width: 2rem;
  height: 2rem;
  font-size: 1.5rem;
}
.mapboxgl-popup-content .title a:hover {
  color: @cp-accent;
}
.mapboxgl-popup-content .title a {
  .all-caps;
  font-size: 1rem;
}
.mapboxgl-popup-content .title + p {
  width: 90%;
  margin: 0 auto 1em;
}
.mapboxgl-popup-content * {
  line-height: 1.1;
  font-size: 0.875rem;
}
.map .mapboxgl-ctrl-attrib-inner {
  display: none;
}
/*=============================
    SCHEDULE A TOUR
  ==============================*/
#tour-form h1 {
  padding: 20% 0 5%;
  background-color: inherit;
  color: inherit;
}
#tour-form form {
  max-width: 600px;
  margin: auto;
}
#tour-form form {
  background-color: #eee;
  padding: 5%;
}
#tour-form form * {
  text-align: left;
}
#tour-form .button {
  margin: auto;
}
fieldset {
  border: none;
  margin-bottom: 1em;
}
input,
textarea {
  border: @thin-border;
  // background-color: #eee;
  padding: 0.25em 0.5em;
  margin-bottom: 1em;
}
input[type="text"],
input[type="email"],
input[type="tel"],
textarea {
  display: block;
  width: 100%;
}
input:focus,
textarea:focus {
  border: 1px solid @cp-grey;
}
input[type="checkbox"],
input[type="radio"] {
  margin-right: 0.5em;
  vertical-align: middle;
  margin-bottom: 0;
}
form input::placeholder,
form input:-ms-input-placeholder,
form input::-ms-input-placeholder,
form input::-webkit-input-placeholder {
  color: #b7b7b7 !important;
  font-size: 0.9em !important;
}
fieldset.two-columns {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
fieldset.two-columns > div {
  width: 49%;
}
.survey {
  border: 1px solid #999;
  padding: 0 5%;
  margin-bottom: 10%;
  margin-top: 10%;
}
.survey h2 {
  font-weight: bold;
  line-height: 1;
  margin-top: 3%;
  margin-bottom: 5%;
  text-align: center !important;
}
.survey u {
  color: @cp-accent;
  // text-decoration: underline;
}
label.required::after {
  content: " *";
  color: red;
}
.success-form {
  display: flex;
  justify-content: center;
}
.success-form div {
  background: #0fc7789c;
  padding: 5%;
}
.success-form div * {
  color: #fff;
}
/*=============================
    RESPONSIVE DESIGN
==============================*/
@media only screen and (max-width: 1443px) {
  h1 {
    font-size: 1.5rem;
  }
  .button {
    font-size: 0.75rem;
  }
  .banner-text h1 {
    font-size: 2rem;
  }
  .banner-text a {
    width: 2.5rem;
    height: 2.5rem;
    font-size: 1.2rem;
  }
  .banner-text a::before {
    line-height: 2.5rem;
  }
  section.intro p {
    font-size: 1rem;
    line-height: 1.8em;
  }
  #home-page-blocks .title {
    font-size: 1rem;
  }
  footer p:first-of-type {
    font-size: 1.25rem;
  }
  footer p:nth-of-type(n + 2),
  footer p:nth-of-type(n + 2) * {
    font-size: 1rem;
    font-weight: normal;
  }
  footer .social a {
    width: 2rem;
    height: 2rem;
    margin: 0.5em;
  }
  footer .social i {
    font-size: 1rem;
  }
  #floor-plans-page h2 {
    font-size: 1.5rem;
    margin-bottom: 1.5rem;
  }
  #floor-plans-blocks .details span {
    font-size: 0.75rem992;
  }
}
@media only screen and (max-width: 1199px) {
  .inner-wide {
    width: 90%;
  }
  .inner {
    width: 70%;
  }
  section {
    margin-bottom: 8vw;
  }
  section.intro {
    margin-top: 8vw;
  }
  .banner-carousel-container {
    height: 50vh;
    min-height: 300px;
  }
  .banner-text {
    height: auto;
  }
  .banner-text h1 {
    padding: 5%;
  }
  .banner-text a {
    display: none;
  }
  .carousel .next {
    right: 6%;
  }
  .carousel .previous {
    left: 6%;
  }
  #neighborhood-page .tabs button span {
    font-size: 0.875rem;
  }
}
@media only screen and (max-width: 991px) {
  header .open-menu {
    display: block;
  }
  #neighborhood-page .tabs li {
    width: auto;
  }
  .medium-show {
    display: block;
  }
  header.medium-show {
    position: fixed;
    top: 0;
    background-color: #fff;
  }
  div#root {
    padding-top: 50px;
  }
  .desktop-show {
    display: none;
  }
  .banner-text h1 {
    font-size: 1.75rem;
  }
  #home-page-blocks .title {
    font-size: 0.875rem;
    padding: 3% 0;
  }
  #floor-plans-blocks.inner {
    width: 90%;
  }
  #floor-plans-blocks .container {
    width: 47%;
  }
  .carousel .previous {
    left: 3%;
  }
  .carousel .next {
    right: 3%;
  }
}
@media only screen and (max-width: 767px) {
  .banner-text h1 {
    font-size: 1.5rem;
  }
  #home-page-blocks .title {
    padding: 2% 0;
    font-size: 0.75rem;
  }
  footer p:first-of-type {
    font-size: 1rem;
    margin-bottom: 0.5rem;
  }
  footer p:nth-of-type(n + 2),
  footer p:nth-of-type(n + 2) * {
    font-size: 0.75rem;
  }
  #floor-plans-blocks.inner {
    width: 70%;
  }
  #floor-plans-blocks .container {
    width: 100%;
    margin-bottom: 8vw;
  }
  #floor-plans-blocks .container div div {
    min-width: 80px;
    width: 35%;
  }
  section.bg-grey.carousel {
    padding-bottom: 10%;
  }
  .carousel .next,
  .carousel .previous {
    font-size: 2em;
  }
  .amenities-list div {
    width: 100%;
    margin-bottom: 3vw;
  }
  .amenities-list .title + ul {
    height: auto;
  }
  #neighborhood-page .tabs button i {
    color: @cp-grey;
  }
  #neighborhood-page .map h2 {
    .all-caps;
    color: @cp-accent;
    margin-bottom: 1em;
  }
  #neighborhood-page .tabs button span {
    width: 1px;
    height: 1px;
    opacity: 0;
  }
  #schedule-tour.inner {
    width: 90%;
  }
  #schedule-tour h1 {
    font-size: 1.25rem;
  }
}
@media only screen and (max-width: 599px) {
  header {
    position: initial;
  }
  .inner {
    width: 90%;
  }
  section.home-page-blocks {
    width: 100%;
  }
  #home-page-blocks div.background-image {
    width: 32.5%;
    height: 32vw;
    margin-right: 1%;
  }
  #home-page-blocks .title {
    bottom: 4%;
    width: 92%;
    left: 4%;
    padding: 0;
    font-size: 0.675rem;
  }
  .button {
    font-size: 0.675rem;
  }
  #floor-plans-page h2 {
    font-size: 1.25rem;
  }
  #floor-plans-blocks .details span:first-of-type {
    border-left: none;
  }
  #floor-plans-blocks .details span:last-of-type {
    border-right: none;
  }
  .gallery div a {
    width: 49.8%;
  }
  .map .popup {
    display: none;
  }
  #tour-form form {
    background-color: transparent;
    padding: 5% 0;
  }
  form label {
    font-size: 0.875rem;
  }
  .survey {
    border-color: #eee;
  }
}
