* {
  color: #1a1a1a;
  text-decoration: none;
  margin: 0;
  padding: 0;
  text-align: center;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  line-height: 1.5em;
  font-size: 1rem;
}
body {
  min-height: 100vh;
}
img {
  max-width: 100%;
}
ul {
  list-style: none;
  padding: 0;
}
button {
  cursor: pointer;
  background-color: transparent;
  border: none;
}
input[type="radio"] {
  cursor: pointer;
}
.button {
  cursor: pointer;
}
a {
  display: block;
}
.inner {
  max-width: 1200px;
  margin: auto;
}
/*=============================
    HEADER
  ==============================*/
header {
  position: fixed;
  width: 100%;
  background-color: #ffffffeb;
  z-index: 90;
}
.logo {
  display: flex;
  align-items: center;
}
.logo img {
  width: 5rem;
}
.logo span {
  font-family: "Satisfy", cursive;
  font-size: 1.5rem;
  text-align: left;
  font-style: italic;
  font-weight: bold;
  line-height: 1;
  display: block;
}
.logo span:first-child {
  margin-left: -0.3rem;
}
header .inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70px;
}
header ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header nav a {
  padding: 0.5em 0 0.5em 1em;
  color: #1a1a1a;
  opacity: 0.6;
  transition: 500ms;
  font-weight: bold;
}
header nav a:hover {
  opacity: 1;
}
/*=============================
    FOOTER
  ==============================*/
footer {
  background-color: #5e767a;
  padding: 2rem;
  margin-top: 5%;
}
footer * {
  color: #1a1a1a;
}
/*=============================
    BANNER
  ==============================*/
.banner {
  height: 100vh;
  position: relative;
  min-height: 900px;
}
.banner-image {
  height: calc(100% - 70px);
  min-height: 900px;
  background-position: center bottom;
  background-repeat: no-repeat;
  background-size: cover;
}
.banner-text {
  padding-top: calc(70px - 3rem);
  color: #1a1a1a;
  position: absolute;
  width: 100%;
  bottom: 0;
}
.banner-text a {
  background-color: #5e767a;
  display: inline-block;
  height: 3rem;
  width: 2.5rem;
  padding-top: 0.5rem;
}
.banner-text i {
  font-size: 1.3rem;
}
.banner-text h1 {
  text-align: center;
  text-transform: uppercase;
  font-size: 2.5rem;
  padding: 2rem;
  background-color: #5e767a;
}
/*=============================
    HOME
  ==============================*/
#home-page-blocks {
  display: flex;
  justify-content: space-between;
}
#home-page-blocks div {
  width: 30%;
}
/*=============================
    FLOOR PLANS
==============================*/
#floor-plans-blocks {
  display: flex;
  justify-content: space-between;
}
#floor-plans-blocks > :first-child {
  width: 30%;
}
#floor-plans-blocks > :last-child {
  width: 60%;
}
#floor-plans-blocks .img-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  margin: auto;
}
#floor-plans-blocks > :last-child img {
  width: 50%;
}
/*=============================
    AMENITIES
==============================*/
#amenities-page .react-multi-carousel-list {
  max-width: 800px;
  margin: auto;
}
.amenities-list li {
  margin-bottom: 0.5em;
}
/*=============================
    GALLERY
  ==============================*/
.grid-container {
  display: flex;
  flex-flow: column wrap;
  align-content: space-between;
  height: 1800px;
}
.grid-container div {
  width: 25%;
}
.grid-container div {
  position: relative;
}
.grid-container button {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.light-box {
  position: fixed;
  top: 0;
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}
.light-box .overlay {
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: #000c;
  z-index: 50;
}
.light-box * {
  z-index: 90;
}
.light-box button {
  width: 2rem;
  height: 2rem;
  background-color: #5cd85a;
  text-align: center;
  font-weight: bold;
}
.light-box button * {
  vertical-align: middle;
  line-height: 2rem;
}
.light-box img {
  max-height: 80%;
  max-width: 60%;
}
/*=============================
    NEIGHBORHOOD
  ==============================*/
#neighborhood-page .tabs {
  display: flex;
  justify-content: space-between;
}
#neighborhood-page .tabs button {
  text-transform: uppercase;
  padding: 0.5em;
  font-weight: bold;
}
.map-container {
  overflow: hidden;
}
.map-container > * {
  margin-top: -60px;
}
/*=============================
    SCHEDULE A TOUR
  ==============================*/
#tour-form form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
fieldset {
  border: none;
}
/*=============================
    RESPONSIVE DESIGN
==============================*/
@media only screen and (max-width: 1443px) {
  .grid-container {
    height: 1400px;
  }
}
@media only screen and (max-width: 1329px) {
  .grid-container {
    height: 1500px;
  }
}
@media only screen and (max-width: 922px) {
  .grid-container {
    height: 960px;
  }
}
