* {
  transition: color 500ms;
}
.bg-image {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
* {
  color: #111;
  text-decoration: none;
  margin: 0;
  padding: 0;
  text-align: center;
  box-sizing: border-box;
  font-family: "Source Sans Pro", sans-serif;
  line-height: 1.5em;
  font-size: 1rem;
}
body {
  min-height: 100vh;
}
img {
  max-width: 100%;
}
ul {
  list-style: none;
  padding: 0;
}
button {
  cursor: pointer;
  background-color: transparent;
  border: none;
}
input[type="radio"] {
  cursor: pointer;
}
.button {
  cursor: pointer;
}
a {
  display: inline-block;
}
.inner-wide {
  max-width: 1400px;
  margin: auto;
  width: 90%;
}
.inner {
  width: 75%;
  margin: auto;
  max-width: 1100px;
}
section.intro {
  margin: 3vw auto 5vw;
  max-width: 800px;
}
/*=============================
    TYPOGRAPHY
==============================*/
h1 {
  text-align: center;
  font-size: 2rem;
  padding: 2rem;
  background-color: #2f3e4e;
  font-weight: 600;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 0.05em;
}
h2 {
  font-size: 2rem;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  margin-bottom: 2rem;
}
section.intro p {
  font-size: 1.1rem;
}
/*=============================
    HEADER
  ==============================*/
header {
  position: fixed;
  width: 100%;
  background-color: #ffffffeb;
  z-index: 90;
}
.logo {
  display: flex;
  align-items: center;
}
.logo span {
  font-family: "Satisfy", cursive;
  font-size: 1.5rem;
  text-align: left;
  font-style: italic;
  font-weight: bold;
  line-height: 1;
  display: block;
}
.logo span:first-child {
  margin-left: -0.3rem;
}
header .inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70px;
}
header ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header nav a {
  padding: 0.5em 0 0.5em 1em;
  color: #111;
  opacity: 0.6;
}
header nav a:hover {
  opacity: 1;
}
/*=============================
    FOOTER
  ==============================*/
footer {
  background-color: #2f3e4e;
  padding: 2rem;
  margin-top: 5%;
}
footer * {
  color: #111;
}
/*=============================
    BANNER
  ==============================*/
.banner {
  height: 100vh;
  position: relative;
  min-height: 600px;
}
.banner-image {
  height: calc(100% - 70px);
  background-position: center bottom;
  background-repeat: no-repeat;
  background-size: cover;
}
.banner-text {
  padding-top: calc(70px - 3rem);
  position: absolute;
  width: 100%;
  bottom: 0;
}
.banner-text a {
  background-color: #2f3e4e;
  display: inline-block;
  height: 3rem;
  width: 2.5rem;
  padding-top: 0.5rem;
}
.banner-text i {
  font-size: 1.3rem;
  color: #fff;
  transition: ;
}
.banner-text a:hover i {
  color: #29bb7d;
}
/*=============================
    HOME
  ==============================*/
#home-page section:first-of-type {
  margin: 3vw auto 5vw;
}
#home-page-blocks > div {
  width: 30%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  padding-top: 33%;
  margin-right: 5%;
  display: inline-block;
}
#home-page-blocks > div:last-child {
  margin-right: 0;
}
#home-page-blocks .container {
  background-color: #ffffffeb;
  position: absolute;
  bottom: 5%;
  width: 70%;
  left: 15%;
  padding: 1rem;
}
#home-page-blocks a {
  font-style: italic;
  font-size: 1.5rem;
  font-weight: bold;
}
i.fa-angle-double-right {
  color: #29bb7d;
  margin-right: 0.2em;
}
#home-page-blocks a:hover {
  color: #29bb7d;
}
/*=============================
    FLOOR PLANS
==============================*/
#floor-plans-blocks {
  display: flex;
  justify-content: space-between;
}
#floor-plans-blocks > :first-child {
  width: 30%;
}
#floor-plans-blocks > :last-child {
  width: 60%;
}
#floor-plans-blocks .img-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 60%;
  margin: 0 auto 2.5vw;
}
#floor-plans-blocks > :last-child img {
  width: 50%;
}
#floor-plans-blocks .details {
  margin-bottom: 1.5em;
}
#floor-plans-blocks .details span {
  padding: 0 1em;
  border-left: 2px solid #29bb7d;
}
#floor-plans-blocks .details span:last-child {
  border-right: 2px solid #29bb7d;
}
.button {
  border: 2px solid #29bb7d;
  font-weight: bold;
  letter-spacing: 0.2em;
  font-size: 0.875rem;
  padding: 0.7em 2em;
  color: #fff;
  background: #29bb7d;
}
.button:hover {
  color: #29bb7d;
  background: #fff;
}
/*=============================
    AMENITIES
==============================*/
#amenities-page .react-multi-carousel-list {
  max-width: 800px;
  margin: auto;
}
#amenities-page .carousel {
  margin-bottom: 5vw;
}
.amenities-list li {
  margin-bottom: 0.5em;
  font-size: 1.25em;
  font-style: italic;
}
/*=============================
    GALLERY
  ==============================*/
.grid-container {
  display: flex;
  flex-flow: column wrap;
  align-content: space-between;
  height: 1800px;
}
.grid-container div {
  width: 25%;
}
.grid-container div {
  position: relative;
}
.grid-container button {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.light-box {
  position: fixed;
  top: 0;
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}
.light-box .overlay {
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: #000c;
  z-index: 50;
}
.light-box * {
  z-index: 90;
}
.light-box button {
  width: 2rem;
  height: 2rem;
  background-color: #29bb7d;
  text-align: center;
  font-weight: bold;
}
.light-box button * {
  vertical-align: middle;
  line-height: 2rem;
}
.light-box img {
  max-height: 80%;
  max-width: 60%;
}
/*=============================
    NEIGHBORHOOD
  ==============================*/
#neighborhood-page .tabs {
  display: flex;
  justify-content: space-between;
}
#neighborhood-page .tabs button {
  text-transform: uppercase;
  padding: 0.5em;
  font-weight: bold;
}
.map-container {
  overflow: hidden;
}
.map-container > * {
  margin-top: -60px;
}
/*=============================
    SCHEDULE A TOUR
  ==============================*/
#tour-form form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
fieldset {
  border: none;
}
/*=============================
    RESPONSIVE DESIGN
==============================*/
@media only screen and (max-width: 1443px) {
  .grid-container {
    height: 1400px;
  }
}
@media only screen and (max-width: 1329px) {
  .grid-container {
    height: 1500px;
  }
}
@media only screen and (max-width: 922px) {
  .grid-container {
    height: 960px;
  }
}
